.searchBar {
  display: flex;
  gap: 0.75rem;
}

.logo {
  width: 20px;
  height: auto;
}
.search {
  display: flex;
  background-color: rgb(220, 220, 228);
  border-radius: 10px;
  padding: 5px;
}
.search > input {
  background-color: transparent;
  border: none;
  outline: none;
}

.l-icon {
  display: flex;
  background: linear-gradient(106.23deg, #f99827, #f95f35);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 8px;
}

.s-icon {
  display: flex;
  background: linear-gradient(106.23deg, #f99827, #f95f35);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 4px;
}

.s-icon:hover {
  cursor: pointer;
}
